[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/A"]
	path = bundle/A
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/ChnDoc"]
	path = bundle/ChnDoc
	url = https://github.com/asins/vimcdoc.git
[submodule "bundle/WinManager"]
	path = bundle/WinManager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/FencView"]
	path = bundle/FencView
	url = https://github.com/vim-scripts/FencView.vim.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/C"]
	path = bundle/C
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/visualMarks"]
	path = bundle/visualMarks
	url = https://github.com/vim-scripts/visualMarks.vim.git
[submodule "bundle/TxtBrowser"]
	path = bundle/TxtBrowser
	url = https://github.com/vim-scripts/TxtBrowser.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
