[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/A"]
	path = bundle/A
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/ChnDoc"]
	path = bundle/ChnDoc
	url = https://github.com/asins/vimcdoc.git
[submodule "bundle/WinManager"]
	path = bundle/WinManager
	url = https://github.com/vim-scripts/winmanager.git
